{% if site.data.interns.size > 0 %}
<div class="alumni-section">
<h3 class="subsection-title">Interns</h3>
<div class="interns-list">
{% for intern in site.data.interns %}
<div class="intern-item">
{% if intern.url %}<a href="{{ intern.url }}">{{ intern.name | escape }}</a>{% else %}<span class="intern-name">{{ intern.name | escape }}</span>{% endif %}
{% if intern.period %}<span class="intern-period">({{ intern.period | escape }})</span>{% endif %}
{% if intern.origin %}<span class="intern-origin">{{ intern.origin | escape }}</span>{% endif %}
</div>
{% endfor %}
</div>
</div>
{% endif %}
